<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" version="1.33" id="https://addons.opera.com/addons/extensions/details/youtube-adsfree/">
  <name>YouTube AdsFree</name>
  <feature name="opera:urlfilter"/>
  <icon src="icons/ytaf.png"/>
  <update-description href="https://extension-updates.opera.com/api/w3c-wd1/update/559d190a-a52b-40bc-8392-c2ff14065bd3/"/>
  <license>Copyright 2012 Mikanoshi

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</license>
  <author href="http://code.highspec.ru/ytaf_about.htm" email="iam@mikanoshi.name">Mikanoshi</author>
  <description xml:lang="en">Removes popup ads on YouTube videos.</description>
  <description xml:lang="ru">Убирает всплывающую рекламу в окне YouTube видео.</description>
</widget>
