body {
	border: 0px;
	margin: 10px;
	padding: 0px;
}

.box {
	width: 1000px;
	border: 0px;
	margin: 0px auto;
	padding: 0px;	
}

.header {
	height:64px;
	padding:20px;
}

.statubar {
	border: 0px;
	margin: 0px;
	padding: 6px;
	height: 24px;
	color: #000000;	
	background-color:#beeb9f;
	text-align: center;
	font-weight: bold;
    border-radius: 8px;
}

.pbox {
  margin:16px 0px; 
  border-radius: 8px;
   border:1px dashed #beeb9f;
   background-color:#beeb9f;
   overflow:auto;
}

.tbox {
	float:left;
  padding:6px;
}

.title {
	text-align:center;
	font-weight:bold;
}

#countyid {
    display:none;
}

#txtcid {
    display:none;
}