body {
	font-size: 14px;
	padding: 0px;
	margin: 0px;
}
.main {
	width: 260px;
	padding: 0px;
	margin: 0px;
	background-color:#EEEEEE;
}
.halfline {
	width: 130px;
	padding: 0px;
	margin: 0px;
	background-color: #DDFFDD;
	border-bottom-color: #CCEECC;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}
.label {
	text-align: right;
	float:left;
}
.report {
	text-align: left;
	float:right;
}
.line {
	width:260px;
	padding:0px;
	margin:0px;
	text-align:center;
}
.single {
	background-color:#DDFFDD	
}
.title {
	font-size:20px;
	font-weight:bold;
}
